/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  list-style: none;
  text-decoration: none;
  color: #4a4a4a;
}
/* remember to define focus styles! */
:focus {
  outline: 0;
}
body {
  line-height: 30px;
  color: #4a4a4a;
  background: white;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  background: #ececec;
  font-size: 14px;
}
.clear{
  clear: both;
}
.navbar-brand img {
    max-height: 80px;
    display: inherit;
}
.navbar {
    height: 80px;
    border-bottom: 3px solid #4ba909;
}
.navbar-header {
    width: 100%;
    text-align: center;
}
.navbar-brand img {
   /* display: inline-block;*/
}
.navbar-brand {
    width: 100% !important;
}
.navbar-header {
    width: 100%;
    text-align: center;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
  color:  #4aaa09 !important;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text{
    color:  #4aaa09 !important;
}
ul.nav.navbar-nav.navbar-right {
    margin-top: -35px;
    margin-right: 0;
}
/*form.form-horizontal {
    padding: 35px;
}*/
input[type="checkbox"] {
    margin: 7px;
}
button.btn.btn-primary {
    width: 100%;
    background: #58ab3f;
    border-color: #58ab3f;
    text-transform: uppercase;
}
.login-page {
    width: 600px;
    margin: 0 auto;
    padding: 35px;
}
.btn-success{
  background: #58ab3f;
    border-color: #58ab3f;
}
div.dataTables_wrapper div.dataTables_length select {
    margin: 0 10px;
}
div#example_filter {
    margin-bottom: 30px;
}
.panel-heading a.btn.btn-success.align-right {
    float: right;
}
.panel-heading {
    padding: 15px;
    text-align: center;
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: #4baa0a !important;
}
.panel-heading  .col-md-10 {
    color: #4baa0a !important;
    text-align: left;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
  background:  #4aaa09 !important;
}
.panel-body {
    padding: 40px;
}
/*-- resposive css start --*/

@media only screen and (max-width:767px){
 
}